@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*::after,*::before{
  box-sizing:border-box;
}
*{
  padding:0;
  margin:0;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
  /* background-color:#1B0E20; */
  color:#D1CDEC;
}
.header{
  position:fixed;
  top:0;
  left:0;
  padding:1rem 0.5rem;
  background-color: transparent;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items:center;
  z-index:100;
}
.logo{
  position:relative;
  font-size:25px;
  color:#D1CDEC;
  text-decoration: none;
  font-weight:600;
}
.logo::before{
  content:'';
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
  background-color: #1B0E20;
  animation: showRight 1s ease forwards;
  animation-delay:.4s;
}

.navbar a{
  font-size:18px;
  color:#D1CDEC;
  text-decoration:none;
  font-weight:500;
  margin-left:35px;
}
.navbar a:hover, .navbar a.active{
  color:#8077AB;
}
#home{
  display:flex;
  background: url(./images/pexels-merlin-10874566.jpg);
  background-position: center;
  background-size:cover;
  height:100vh;
  align-items:center;
  background-repeat: no-repeat;
  padding:0 10%;
}
.home-content{
  /* background-color: yellowgreen; */
  max-width:600px;
}
.home-content h1{
  position:relative;
  font-size:46px;
  font-weight:700;
  line-height:1.2;
}
.home-content h1::before{
  content:'';
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
  background-color: #1B0E20;
  animation: showRight 1s ease forwards;
  animation-delay:1s;
}

.home-content  h3{
  position: relative;
  font-size:32px;
  font-weight:700;
  color:#9444ac;
}
.home-content h3::before{
  content:'';
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
  background-color: #1B0E20;
  animation: showRight 1s ease forwards;
  animation-delay:1s;
}

.home-content p{
  position:relative;
  font-size:16px;
  margin:20px 0 40px;
}
.home-content p::before{
  content:'';
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
  background-color: #1B0E20;
  animation: showRight 1s ease forwards;
  animation-delay:1s;
}

.home-content .btn-box{
  display:flex;
  justify-content: space-between;
  width:345px;
  height:50px;
  /* background-color: yellowgreen; */
}

.btn-box a{
  position:relative;
  justify-content: center;
  align-items:center;
  display:inline-flex;
  width:150px;
  height:100%;
  background: #9444ac;
  border:2px solid #9444ac;
  border-radius: 8px;
  color:#1B0E20;
  text-decoration: none;
  font-weight:600;
  letter-spacing:1px;
  z-index:1;
  overflow: hidden;
  transition:.5s;
}
.btn-box a:hover{
  color:#9444ac;
}
.btn-box a:nth-child(2){
  background:transparent;
  color:#9444ac;
}
.btn-box a:nth-child(2):hover{
  color:#1B0E20
}
.btn-box a:nth-child(2)::before{
  background-color: #9444ac;
  /* color:#D1CDEC; */
}
.btn-box a::before{
  content: " ";
  position:absolute;
  left:0;
  top:0;
  height:100%;
  /* change the width from 100 to 0 */
  width:0;
  background-color:#1B0E20;
  z-index:-1;
  transition:0.5s;
}
.btn-box a:hover::before{
  /* then add the width to 100 here */
width:100%;
}
.home-icons{
  position:absolute;
  bottom:40px;
  width:170px;
  /* background-color: #9444ac; */
  display:flex;
  justify-content: space-between;
  transition:.5s;
}
.home-icons a{
  position:relative;
  justify-content: center;
  align-items: center;
  display:inline-flex;
  width:40px;
  height:40px;
  border:2px solid #54046c;
  border-radius: 50px;
  font-size:20px;
  color:#81578e;
  text-decoration:none;
  z-index:1;
  overflow:hidden;
  transition:.5s;
}
.home-icons a:hover{
color:#1B0E20;
}
.home-icons a::before{
  content:'';
  position:relative;
  top:0;
  left:0;
  height: 100%;
  width:0;
  background-color: #9444ac;
  height: 100%;
  z-index:-1;
  transition:.5s;
}
.home-icons a:hover::before{
width:100%;
}
.home-imgHover{
  position:absolute;
  top:0;
  right:30px;
  width:500px;
  height:100%;
  background:transparent;
  /* border:2px solid; */
  transition:3s;
}
.home-imgHover:hover{
  background-color: #1B0E20;
  opacity:.8;
}
@keyframes showRight {
  100%{
    width:0;
  }
}